<div class="mt-2 mb-4">
    <span class="subtitle text-muted text-uppercase h4">Employee</span>
    <button type="button" class="close float-right" mat-dialog-close aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Employee Name</label>
        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && formData.name.errors }" />
        <div *ngIf="submitted && formData.name.errors" class="text-danger">
            <div *ngIf="formData.name.errors.required">Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="active">Active</label>
        <input type="checkbox" formControlName="active" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="department">Department</label>
        <select class="form-control" formControlName="department" required>
            <option value="" selected="selected" disabled>Select Department</option>
            <option *ngFor="let department of departments; let i = index" [value]="departments[i].dpID">
                {{department.dpName}}
            </option>
        </select>
        <div *ngIf="submitted && formData.department.errors" class="text-danger">
            <div *ngIf="formData.department.errors.required">Department is required</div>
        </div>
    </div>
    <button [disabled]="loading" class="btn btn-primary btn-lg">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        <span>Save</span>
    </button>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
</form>
