<div class="col-md-6 offset-md-3 mt-4">
  <div class="card">
      <h4 class="card-header">Please login</h4>
      <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && formData.username.errors }" />
                  <div *ngIf="submitted && formData.username.errors" class="text-danger">
                      <div *ngIf="formData.username.errors.required">Username is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && formData.password.errors }" />
                  <div *ngIf="submitted && formData.password.errors" class="text-danger">
                      <div *ngIf="formData.password.errors.required">Password is required</div>
                  </div>
              </div>
              <div *ngIf="signUp" class="form-group">
                <label for="email">Email</label>
                <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && formData.email.errors }" />
                <div *ngIf="submitted && formData.email.errors" class="text-danger">
                    <div *ngIf="formData.email.errors.required">Email is required</div>
                    <div *ngIf="formData.email.errors.email">Email is invalid</div>
                </div>
            </div>
              <button [disabled]="loading" class="btn btn-primary btn-lg">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  <span *ngIf="signUp">Sign Up</span>
                  <span *ngIf="!signUp">Login</span>
              </button>
              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
              <div class="d-inline-block" *ngIf="!signUp">
                <div class="d-inline-block ml-3 mr-3">Dont have an account yet?</div>
                <span (click)="openSignUp()" class="subtitle text-muted btn">Create account</span>
              </div>
          </form>
      </div>
  </div>
</div>