<h1 class="subtitle text-muted mt-3">Employees</h1>
<button (click)="addNewEmployee()" class="btn btn-outline-secondary float-right mt-4">Add new employee</button>
<mat-form-field class="example-form-field w-75">
    <input matInput type="text" placeholder="Search" [(ngModel)]="value" (ngModelChange)="searchEmployee($event)">
</mat-form-field>
<div class="mat-elevation-z8 mt-3 mb-4">

    <table class="w-100" mat-table [dataSource]="dataSource">
    
        <!-- ID Column -->
        <ng-container matColumnDef="empId">
            <th class="text-center" mat-header-cell *matHeaderCellDef> ID </th>
            <td class="text-center" mat-cell *matCellDef="let element"> {{element.empId}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="empName">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Name </th>
            <td class="text-center" mat-cell *matCellDef="let element"> {{element.empName}} </td>
        </ng-container>
    
        <!-- Active Column -->
        <ng-container matColumnDef="empActive">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Active </th>
            <td class="text-center" mat-cell *matCellDef="let element"> {{element.empActive}} </td>
        </ng-container>
    
        <!-- Department Column -->
        <ng-container matColumnDef="empDpID">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Department </th>
            <td class="text-center" mat-cell *matCellDef="let element"> {{element.dpName}} </td>
        </ng-container>
        
        <!-- Edit/Delete Column -->
        <ng-container matColumnDef="actions">
            <th class="text-center" mat-header-cell *matHeaderCellDef ></th>
            <td class="text-center" mat-cell *matCellDef="let element" >
                <span class="btn mr-3" mat-raised-button (click)="editEmployee(element)">Edit</span>
                <span class="btn btn-danger btn-sm" mat-raised-button (click)="deleteEmployee(element)">Delete</span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="employeesCount" [pageSize]="10" (page)="navigatePage()"></mat-paginator>
</div>