<!-- nav -->
<div class="mt-4 container">
  <div routerLinkActive="hidden">
    <button routerLink="/login" class="btn btn-secondary float-right" (click)="logout()">Logout</button>

  </div>
</div>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>
